@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maname&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.headers {
    font-family: 'DM Serif Display', serif;
    font-size: 5rem;
}

.headers span.Studio,.headers h1.Ghibli {
    color: rgb(36, 109, 227);
    font-family: 'DM Serif Display', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Prata', 'Montserrat','DM Serif Display', Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: #fff8f8;
    background-image: url('../img/Home.png');
    background-size: 100% 100%;
    background-position: absolute;
    background-repeat: no-repeat;
    height: 120vh;
    margin: 0;
    animation: fadeIn 2s;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
}

.headers {
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s; 
}

div {
    padding: 5px;
    border: 3px solid #fafdff;
    border-radius: 10px;
    margin: 20px;
}

.clouds {
    position: absolute;
    top: 9px;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 10;
    background-image: url('../img/clouds.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.button-container {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    z-index: 11;
    animation: 2s;
}

.button {
    font-family: 'Times New Roman', Times, serif;
    font-size:0.5cm;
    margin: 9px;
    padding: 10px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    color:rgb(255, 255, 255);
    display: inline-block;
    background-color: transparent;
    transition: background-color 0.5s ease-in;
}

.button:hover {
    background-color: rgba(36, 109, 227, 0.8);

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}